<!-- views/add.erb -->
<!doctype html>
<html>
  <head>
    <title>Online Calculator</title>
  </head>
<body>

  <form action="/operations" method="POST">
    <input type="number" name="first_number" placeholder="1st number">
    <input type="number" name="second_number" placeholder="2nd number">
    <button type="submit" name="operation" value="addition">add</button>
    <button type="submit" name="operation" value="substraction">Substract</button>
    <button type="submit" name="operation" value="multiplication">Multiply</button>
    <button type="submit" name="operation" value="division">Divide</button>
  </form>
</body>
</html>