<h1>Search Results</h1>

<form action="/movies" method="POST">
  <input type="text" name="word" placeholder="Choose a word"></input>
  <button type="submit" name="operation" value="addition">search</button>
</form>